html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Вимикає глобальну прокрутку */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --navbar-height: 64px;
}
